{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>WTF</h1>
        <p>This is from {{ controller_name }}</p>
    </div>
{% endblock %}
